* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--sobre-color);
}

:root {
    --top-menu-color: #100222;
    --border-color: #222021;
    --sobre-color: #190336;
    --main-color: #5043D4;
    --main-text-color: #FFF;
    --highlight-color: #a771ee;
}

.cabecalho {
    background: var(--top-menu-color);
    border-bottom: solid 2px var(--main-color);
    height: 110px;
    box-sizing: content-box;
}

.logo{
    display: inline-block;
    padding: 0;
    margin: 0;
}

.logo img{
    padding: 15px 0px;
    padding-left: 20px;
    width: 250px;
    height: 125px; 
}

.menu-toggle {
    float: right;
    color: var(--sobre-color);
    background-color: var(--sobre-color);
    border: solid 1px var(--main-color);
    border-radius: 5px;
    height: 40px;
    padding: 10px 20px;
    margin: 20px 15px;
}

.menu {
    display: inline-block;
    vertical-align: top;
    height: 80px;
    padding: 25px;
}

.menu ul {
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    padding: 20px;
    padding-top: 20px;
    color: var(--highlight-color);
    border: 2px solid var(--highlight-color);
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    transition: .5s;
}

.cabecalho a {
    text-decoration: none;
    color: #eee;
}

.menu a{
    padding: 15px;
}

.autenticacao {
    float: right;
    height: 80px;
    padding: 25px;
}

.menu a:hover,
.menu a.selected {
    background-color: #4faddb;
}

.botao {
    border-radius: #4faddb;
}

.destaque {
    background: #f50a31;
    color: #fff;
}


h1 {
    padding-top: 20px;
    font-size: 50px;
    text-align: center;
    color: var(--highlight-color);
}

#sobre {
    padding-top: 20px;
    flex-direction: column;
    min-height: 1 1 80%;
    box-sizing: content-box;
    background-color: var(--sobre-color);
}

#motivo {
    padding-top: 40px;
    font-size: 20px;
    text-align: center;
    color: var(--main-text-color)
}

#solicitacao {
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
    color: var(--main-text-color)
}

footer {
    padding-top: 23%;
    text-align: center;
    font-style: italic;
    font-size: 15px;
    color: var(--main-text-color);
    
}

#footer-text {
    font-size: 15px;
    margin-bottom: 0px;
}

.highlight {
    color: var(--highlight-color);
    font-weight: bold;
}