* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--sobre-color);
}

:root {
    --top-menu-color: #100222;
    --border-color: #222021;
    --sobre-color: #190336;
    --main-color: #5043D4;
    --main-text-color: #FFF;
    --highlight-color: #a771ee;
}

.cabecalho {
    background-color: var(--top-menu-color);
    border-bottom: solid 2px var(--main-color);
    height: 105px;
    box-sizing: content-box;
}

.cabecalho a {
    text-decoration: none;
    color: #eee
}

.logo {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.logo img {
    padding-left: 12px;
    padding-top: 10px;
    width: 210px;
    height: 100px;
}

.menu {
    display: inline-block;
    vertical-align: top;
    height: 80px;
    padding: 24px;
    padding-left: 100px;
}

.menu ul {
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    padding: 15px 15px;
    color: var(--top-menu-color);
    border: 2px solid var(--highlight-color);
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    transition: .5s;
    text-align: center;
    width: 160px;
}

.menu a {
    padding: 15px;
}

.menu li:hover {
    background-color: var(--highlight-color);
}

.juridico { 
    background-color: var(--highlight-color);
}  

.autenticacao {
    float: right;
    padding: 30px;
}

.botao {
    display: inline-block;
    background-color: var(--top-menu-color);
    border: 2px solid var(--highlight-color);
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    transition: .5s;
    text-align: center;
    width: 80px;
    height: 40px;
    padding-top: 6px;
}

.autenticacao a:hover {
    background-color: var(--highlight-color);
}


.principal, 
#imgprincipal {
    padding-top: 5px;
    width: 500px;
    height: 750px;
    border-radius: 70px;
    margin: auto;
}

footer {
    margin: auto;
    padding-top: 0%;
    text-align: center;
    font-style: italic;
    font-size: 15px;
    color: var(--main-text-color)
}

#footer-text {
    font-size: 15px;
    margin-bottom: 0px;
}
